$colors: ("blue-light", $blue-light), ("dark-gray", $dark-gray), ("light-gray", $light-gray), ("cookie", $cookie);

@each $color in $colors {
  .bg-#{nth($color, 1)} {
    background-color: nth($color, 2);
  }
  .text-#{nth($color, 1)} {
    color: nth($color, 2);
  }
}
.bg-linear-red{
  background-image: linear-gradient($red-heavy, $red-light);
}
.bg-linear-yellow{
  background-image: linear-gradient($yellow-heavy, $yellow-light);
}