<p>Bonjour <%= @user.email %> !</p>
<% if @user.pending? %>
  <p>Vous êtes à la position <%= @user.get_pending_position %> dans la file d'attente </p>
<% end %>
<p>Vous devez reconfirmer votre email en cliquant sur le lien ci-dessous</p>
<p><%= link_to 'Confirmer mon email', confirmation_url(@user, confirmation_token: @token) %></p>
