<p>Pour pouvoir rester en file d'attente du co work, tu dois confirmer ta motivation</p>
<%= f.input :confirmed_at, as: :date, label: "Je confirme", class: "w-100 text-center", wrapper_html: { class: 'd-flex justify-content-center' }%>
