<p>Pour pouvoir profiter du co work, tu dois accepter les conditions d'utilisation ci-dessous</p>
<%= f.input :contract_accepted, label: "J'accepte", class: "w-100 text-center", wrapper_html: { class: 'd-flex justify-content-center' }%>
