<div class="d-flex justify-content-center w-100 border-bottom-blue fw-bold overflow-y-scroll ">
  <div class="col-3"><%= t("activerecord.attributes.user.name") %></div>
  <div class="col-9">Dernier Contrat</div>
</div>