  <div class="col-12 list-user-cards <%=add_class%>">
    <h3><%= title %></h3>
    <div class="overflow-y-scroll max-height-300px">
      <% users.each do |user| %>
        <%= render "users/#{partial}", user: user %>
      <% end %>
    </div>
  </div>