<div class="d-flex justify-content-between align-items-center fw-bold text-right border-bottom-blue overflow-y-scroll font-size-12px">
  <div class="col-3 col-md-1 border-end-blue">Position</div>
  <div class="col-4 col-md-2 border-end-blue"><%=t("activerecord.attributes.user.name")%></div>
  <div class="col-5 col-md-3 border-end-blue"><%=t("activerecord.attributes.user.email")%></div>
  <div class="d-none d-md-block col-md-3 border-end-blue"><%=t("activerecord.attributes.request.progress")%></div>
  <div class="d-none d-md-block col-md-3"><%=t("activerecord.attributes.user.created_at")%></div>
  <div></div>
</div>