<%= content_for :meta_title %>
<div class="container page-min-height">
  <h2 class="my-3 text-center">Les Freelances </h2>
  <div class="row container mx-0">
    <%= render 'users/list_cards', users: @accepted_users, title: "Dans le CoWork", partial: "accepted_card", add_class: "col-md-3" %>
    <%= render 'users/list_cards', users: @not_accepted_users, title: "En liste d'attente", partial: "not_accepted_card", add_class: "offset-md-1 col-md-8"%>
  </div>
</div>
