  <div class="container text-center page-min-height py-5">
      <h1>
        Page d'erreur
      </h1>
      <p>Une erreur est survenue. <br> Veuillez nous excuser pour la gêne occasionée.</p>
      <p>N'hésitez pas à retourner sur la page précédente et à réessayer.</p>
      <p><a class="link_mail_to" href="mailto:florent.braure@gmail.com">Reporter le probléme</a></p>
    </div>
    <div class="container">
      <a class="button-green" href="/">Retour sur le site</a>
    </div>
